<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Se for arquivo ou diretório existente, serve normalmente
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Caso contrário, redireciona para index.html
  RewriteRule ^ index.html [QSA,L]
</IfModule>
